* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.top {
  height: 1024px;
  background-image: url(img/top-BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__head {
  padding-top: 217px;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 788px;
  height: 125px;
}
.top__parapraph-weight {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.top__paragraph {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  width: 481px;
  padding-top: 32px;
  padding-bottom: 44px;
}
.top__button {
  border-radius: 30px;
  background: #9C0332;
  width: 234px;
  height: 48px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top__button:hover {
  cursor: pointer;
  background: #EB443F;
}

.select {
  flex-shrink: 0;
  background-color: #000915;
  display: flex;
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
}
.select__gametext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding-top: 236px;
  padding-left: 32px;
}
.select__game_1 {
  width: 379px;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/GAME_1.jpg), lightgray 50%/cover no-repeat;
}
.select__game_1:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
}
.select__game_2 {
  width: 379px;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/GAME_2.jpg), lightgray 50%/cover no-repeat;
}
.select__game_2:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
}
.select__game_3 {
  width: 379px;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/GAME_3.jpg), lightgray 50%/cover no-repeat;
}
.select__game_3:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
}

.content {
  height: 800px;
  background: #000915;
  display: flex;
  flex-direction: row-reverse;
}
.content__text {
  padding-top: 282px;
}
.content__head {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.content__paragraph {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.content__button {
  border-radius: 30px;
  background: #9C0332;
  width: 234px;
  height: 48px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content__button:hover {
  cursor: pointer;
  background: #EB443F;
}
.content__picture {
  display: flex;
  align-items: flex-start;
  padding-top: 234px;
  padding-left: 134px;
}

.moreContent {
  height: 800px;
  background: #000915;
  display: flex;
  flex-direction: row;
}
.moreContent__secondPicture {
  display: flex;
  align-items: flex-start;
  padding-right: 135px;
  padding-top: 238px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .content {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 86px;
    padding-left: 0px;
  }
  .content__paragraph {
    width: 100%;
  }
  .content__picture {
    display: flex;
    align-items: flex-start;
    padding-top: 64px;
    padding-left: 0px;
  }
  .moreContent {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 86px;
    padding-left: 0px;
  }
  .moreContent__secondPicture {
    display: flex;
    align-items: flex-start;
    padding-top: 64px;
    padding-left: 0px;
  }
}
@media (max-width: 400px) {
  .top {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(./img/mobile-BACKGROUND.jpg), lightgray -240.259px 0px/294% 100% no-repeat;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
  }
  .top__head {
    text-align: center;
    font-size: 32px;
    width: 100%;
    height: 78px;
  }
  .top__paragraph {
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 22px;
  }
  .top__parapraph-weight {
    font-size: 14px;
    line-height: 22px;
  }
  .top__pressButton {
    display: flex;
    justify-content: center;
  }
  .select {
    flex-direction: column;
  }
  .select__game_1 {
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/GAME_1.jpg), lightgray 50%/cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .select__game_2 {
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/GAME_2.jpg), lightgray 50%/cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .select__game_3 {
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/GAME_3.jpg), lightgray 50%/cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content {
    height: 654px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .content__text {
    padding-top: 50px;
  }
  .content__head {
    text-align: center;
    font-size: 32px;
    width: 100%;
  }
  .content__paragraph {
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 22px;
  }
  .content__pressButton {
    display: flex;
    justify-content: center;
  }
  .content__picture {
    padding-top: 64px;
    padding-bottom: 86px;
    padding-left: 0px;
  }
  .content__firstGameing {
    width: 100%;
  }
  .moreContent {
    height: 654px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .moreContent__secondPicture {
    padding-top: 64px;
    padding-bottom: 86px;
    padding-right: 0px;
  }
}/*# sourceMappingURL=style.css.map */