* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif; 
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }

  a {
    text-decoration: none;
  }

.top {
    height: 1024px;
    background-image: url(img/top-BACKGROUND.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        &__head {
            padding-top: 217px;
            color: #FFF;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            width: 788px;
            height: 125px;
        }
        &__parapraph-weight {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
        }
        &__paragraph {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px;
            width: 481px;
            padding-top: 32px;
            padding-bottom: 44px;
        }
        &__button {
            border-radius: 30px;
            background: #9C0332;
            width: 234px;
            height: 48px;
            flex-shrink: 0;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &__button:hover {
            cursor: pointer;
            background: #EB443F;
        }
  }
.select {
    flex-shrink: 0;
    background-color: #000915;
    display: flex;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;

    &__game {

    }

    &__gametext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        padding-top: 236px;
        padding-left: 32px;

    }
    &__game_1 {
        width: 379px;
        height: 300px;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(./img/GAME_1.jpg), lightgray 50% / cover no-repeat;
        
    }
    &__game_1:hover {
        border-radius: 16px;
        border: 3px solid #44D2FF;
    }
    &__game_2 {
        width: 379px;
        height: 300px;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(./img/GAME_2.jpg), lightgray 50% / cover no-repeat;
    }
    &__game_2:hover {
        border-radius: 16px;
        border: 3px solid #44D2FF;
    }
    &__game_3 {
        width: 379px;
        height: 300px;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(./img/GAME_3.jpg), lightgray 50% / cover no-repeat;
    }
    &__game_3:hover {
        border-radius: 16px;
        border: 3px solid #44D2FF;
    }
}

.content {
    height: 800px;
    background: #000915;
    display: flex;
    flex-direction: row-reverse;

    &__text{
        padding-top: 282px;
    }
    &__head {
        color: #FFF;
        font-size: 48px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    }
    &__paragraph {
        color: #FFF;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    &__button {
        border-radius: 30px;
        background: #9C0332;
        width: 234px;
        height: 48px;
        flex-shrink: 0;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__button:hover {
        cursor: pointer;
        background: #EB443F;
    }
    &__picture {
        display: flex;
        align-items: flex-start;
        padding-top: 234px;
        padding-left: 134px;
    }
}

.moreContent {
    height: 800px;
    background: #000915;
    display: flex;
    flex-direction: row;

    &__secondPicture {
        display: flex;
        align-items: flex-start;
        padding-right: 135px;
        padding-top: 238px;
    }
}
@import 'tablet';
@import 'mobile';